body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.navbar {
  background-color: dodgerblue;
  color: white;
  padding: 10px;
}

.navbar__logo {
  height: 30px;
}
.navbar__items {
  padding: 0;
  list-style: none;
}
.navbar__item {
  padding: 10px 10px;
}

.navbar__link {
  color: white;
  text-decoration: none;
}


main {
  padding: 20px;
}


footer {
  background-color: tomato;
  color: white;
  padding: 20px;
}



/* Solution */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar__items {
  display: flex;
  align-items: center;
}
.navbar__item.navbar__item--main {
  flex-grow: 1;
}


main {
  flex-grow: 1;
}